* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

/********* NAVBAR *********/

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  max-width: 100px;
  margin-left: 60px;
}

.navbar-container {
  margin-right: 20px;
}

.nav-bar {
  display: flex;
  list-style: none;
}

.nav-item {
  padding: 20px;
}

.nav-link {
  text-decoration: none;
  padding: 5px 10px;
  color: white;
}

.nav-link:hover,
.nav-link.active {
  color: #eefb03;
  border-bottom: 2px solid #eefb03;
}

/********* SECCION INICIO *********/

.inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inicio img {
  max-width: 100%;
  height: 37vw;
  margin-right: 65px;
}

.info-container {
  width: calc(100% - 40px);
  max-width: 600px;
  color: white;
  padding: 20px;
  margin: 20px auto;
}

h1 {
  font-size: 4vw;
  margin-bottom: 20px;
}

.info-container p {
  font-size: 1.2vw;
  margin: 20px 0px;
  width: 25vw;
}

.btn {
  background-color: #eefb03;
  border: none;
  width: 50%;
  max-width: 250px;
  height: 50px;
  font-size: 1vw;
  font-weight: bold;
  border-radius: 50px;
}

.btn:hover {
  cursor: pointer;
  background-color: #fbe603;
}

i {
  font-size: 30px;
  color: #eefb03;
  position: absolute;
  top: 43vw;
  left: 50vw;
}

/********* SECCIÓN IA GENERATIVA QUE ES *********/
.que-es {
  color: white;
  justify-content: center;
  align-items: center;
}

.que-es-container {
  display: flex;
  justify-content: space-evenly;
}

.info-ia-conteiner1 {
  width: 40%;
  margin: 50px;
}

.info-ia-conteiner2 {
  width: 40%;
  margin: 50px;
}

p,
.listado > li {
  color: #a6a6a6;
  line-height: 25px;
  font-size: 1.2vw;
  width: 500px;
}

.ia-titulo {
  font-size: 4vw;
}

.sub {
  margin-top: 100px;
  margin-left: 90px;
  margin-bottom: 30px;
  padding: 20px;
  width: 50%;
  font-size: 2vw;
}

.boton-verejemplos {
  margin-top: 20px;
}

/********* SECCIÓN IA GENERATIVA EJEMPLOS *********/
.ia-generativa h2 {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin-top: 100px;
  padding: 20px;
}

.ia-generativa p {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}

.ia-generativa-container {
  display: flex;
  justify-content: space-evenly;
}

.ia-generativa-container {
  display: flex;
  justify-content: space-around;
}

.ia-generativa-card {
  max-width: 430px;
  height: 470px;
  margin-top: 20px;
  padding: 10px;
}

.ia-generativa-card h3 {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 2.5vw;
}

.logo-chatgpt {
  display: block;
  width: 150px !important;
  padding: 0px !important;
}

.logo-otter {
  display: block;
  margin-bottom: 12px !important;
}

.ia-generativa-card img {
  display: block;
  width: 180px;
  margin: 0 auto;
  padding: 20px 0px;
}

.ia-generativa-card p {
  width: auto;
  margin-bottom: 35px;
}

.ia-generativa-card button {
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/********* SECCIÓN CONTACTO *********/

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin-top: 100px;
}

.contact-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.contact-content h2 {
  font-size: 5vw;
  margin-bottom: 20px;
  color: white;
  text-align: center;
}

.contact-content p {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.5vw;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #545454;
  border-radius: 5px;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
}

.contact-content form {
  text-align: right;
}

/* Estilos para el footer */
.footer {
  width: 100%;
  padding: 20px 0;
  color: #ffffff;
  border-top: 1px solid #545454;
}

.footer p {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;
  font-size: 14px;
}

/********* RESPONSIVE *********/

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }

  .logo img {
    margin-left: 0px;
  }

  .navbar-container {
    margin-right: 0px;
    margin-top: 20px;
  }

  .nav-item {
    padding: 10px;
  }

  .nav-link {
    text-align: center;
    font-size: 2.9vw;
  }

  .inicio img {
    display: none;
  }

  .info-container{
    margin-top: 100px;
  }

  h1 {
    font-size: 6vw;
    text-align: center;
    margin-bottom: 30px;
  }

  .info-container p {
    font-size: 4vw;
    width: 100%;
    text-align: center;
  }

  .btn {
    font-size: 3vw;
    display: block;
    margin: 40px auto;
  }

  i {
    top: 170vw;
    margin: 0 auto;
  }

  .que-es {
    justify-content: center;
    align-items: center;
  }
  
  .que-es-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .info-ia-conteiner1, .info-ia-conteiner2 {
    width: 100%;
    padding: 5px;
    margin: 10px auto 20px;
  }
  
  p,
  .listado > li {
    font-size: 4vw;
    width: 90%;
    margin: 0px;
    padding: 0px;
    margin: 0 auto;
  }
  
  .ia-titulo {
    font-size: 6vw;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .sub {
    margin: 200px 0px 0px;
    padding: 10px;
    text-align: center;
    width: 100%;
    font-size: 4vw;
  }
  
  .boton-verejemplos {
    display: none;
  }

  .ia-generativa h2 {
    font-size: 7vw;
  }

  .ia-generativa p {
    width: 90%;
    font-size: 3.5vw;
  }

  .ia-generativa-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ia-generativa-container {
    display: flex;
    align-items: center;
  }

  .ia-generativa-card {
    max-width: 430px;
    height: 470px;
    margin-top: 20px;
    padding: 10px;
  }

  .ia-generativa-card h3 {
    font-size: 5vw;
  }

  .contact-container {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    margin-top: 30px;
  }

  .contact-content {
    width: 90%;
    max-width: 600px;
    text-align: center;
  }

  .contact-content h2 {
    font-size: 9vw;
    margin-bottom: 10px;
  }

  .contact-content p {
    font-size: 3vw;
  }
}
